#common --keep_going

test --test_output=errors

coverage --combined_report=lcov
coverage --instrument_test_targets

common:release --fission=yes
common:release --copt=-O3
common:release --copt=-Wall
common:release --copt=-Wformat
common:release --copt=-Wformat=2
common:release --copt=-Wimplicit-fallthrough
common:release --copt=-Werror=format-security
common:release --copt=-U_FORTIFY_SOURCE
common:release --copt=-D_FORTIFY_SOURCE
common:release --copt=-D_GLIBCXX_ASSERTIONS
common:release --copt=-fstack-clash-protection
common:release --copt=-fstack-protector-strong


# Address sanitizer config
common:asan --strip=never                            # Keep symbols
common:asan --copt=-fsanitize=address                # Enable address sanitizer
common:asan --copt=-DADDRESS_SANITIZER               # Optional: only needed if your code uses this macro
common:asan --copt=-O0
common:asan --copt=-g                                # Debug info
common:asan --copt=-fno-omit-frame-pointer           # Required for stack traces
common:asan --linkopt=-fsanitize=address             # Link with ASAN
common:asan --sandbox_debug                          # Optional: for easier debugging
common:asan --spawn_strategy=standalone              # Good for sanitizers (avoid sandbox hiding issues)

# Leak sanitizer config
common:lsan --copt=-fsanitize=leak
common:lsan --linkopt=-fsanitize=leak

# Undefined behavior sanitizer config
common:ubsan --strip=never
common:ubsan --copt -fsanitize=undefined
common:ubsan --copt -DADDRESS_SANITIZER
common:ubsan --copt -O0
common:ubsan --copt -g
common:ubsan --copt -fno-omit-frame-pointer
common:ubsan --linkopt -fsanitize=undefined
common:ubsan --sandbox_debug
common:ubsan --spawn_strategy=standalone

# Memory sanitizer config
common:msan --strip=never
common:msan --copt -fsanitize=memory
common:msan --copt -O0
common:msan --copt -g
common:msan --linkopt -fsanitize=memory
common:msan --sandbox_debug 
common:msan --spawn_strategy=standalone

#Gcov config
common:gcov --copt -fprofile-arcs 
common:gcov --copt -ftest-coverage

# build --bes_results_url=https://app.buildbuddy.io/invocation/
# build --bes_backend=grpcs://remote.buildbuddy.io
# build --remote_cache=grpcs://remote.buildbuddy.io
# build --noremote_upload_local_results # Uploads logs & artifacts without writing to cache
# build --remote_timeout=10m
# build --remote_executor=grpcs://remote.buildbuddy.io
# build --jobs=50
# build --remote_cache_compression
# build --experimental_remote_cache_compression_threshold=100 # avoid inflating blobs smaller than 100 bytes with ZSTD compression
# import .bazelrc.buildbuddy

# build --platforms=@toolchains_buildbuddy//platforms:linux_x86_64
# build --extra_execution_platforms=@toolchains_buildbuddy//platforms:linux_x86_64
# build --extra_toolchains=@toolchains_buildbuddy//toolchains/cc:ubuntu_gcc_x86_64

# A docker-sandbox config for debugging issues that might come up in remote execution.
common:docker-sandbox --experimental_docker_image=gcr.io/flame-public/rbe-ubuntu24-04 # Must match MODULE.bazel
common:docker-sandbox --spawn_strategy=docker --genrule_strategy=docker
common:docker-sandbox --experimental_docker_verbose
common:docker-sandbox --experimental_enable_docker_sandbox
common:docker-sandbox --bes_results_url=
common:docker-sandbox --bes_backend=
common:docker-sandbox --remote_cache=
common:docker-sandbox --remote_executor=
common:docker-sandbox --jobs=auto

# For zig's compiler cache
common --enable_platform_specific_config
build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp
build:windows --sandbox_add_mount_pair=C:\Temp

common --extra_toolchains=//modules/ziggy:wasm32-freestanding-toolchain

try-import .bazelrc.local
